[submodule "imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "ImGuiColorTextEdit"]
	path = dependencies/ImGuiColorTextEdit
	url = git@github.com:santaclose/ImGuiColorTextEdit.git
